.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  background-color: chocolate;
}

.divholder{
  width: 100%;
  margin-bottom: 1px;
  flex: 1 0 auto;
  display: flex;
}

.sheepfold{
  width: 80%;
  height: auto;
  background-color: chocolate;
}

.mymenu{
  width: 20%;
  background-color: orange;
}
