.component-button {
  width: auto;
}

.component-button button {
  background-color: orange;
  color: white;
  border: 10px blue dotted;
  font-size: 20pt;
  padding: 5px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
