.fleece {
  width: auto;
}

.fleece button {
  background-color: white;
  border: 0;
  font-size: 14pt;
  padding: 5px;
  display: block;
  float: left;
  border: 10px solid pink;
}

.fleece.ram button {
  border: 10px solid black;
}

.fleece.branded button {
  border: 10px solid green;
}
